@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fasthand&family=Montserrat&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@1,200&family=Raleway:wght@200&family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-snap-type: none;
    user-select: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.portfolio{
    
}
label{
    padding: 2px 20px;
    font-weight: 800;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    color:  rgba(21, 110, 255, 0.8);
}
ul{
    display: flex;
    gap: 10px;

}
li{
    list-style: none;
    padding: 5px 30px;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
#arrow{
    border-left: 1px solid rgb(23, 22, 22,0.4);
   
    
}
.toppad{
    position: sticky;
    top: 4px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.top-1{
    padding: 10px;
    height: 90%;
    width: 95%;
    backdrop-filter: blur(20px) ;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(106, 108, 110, 0.3);
    
}
.navbar{
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    }
.empty{
        flex: 2;
    }
.logo{
    flex: 1;
}
.profile{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.social{
    height: 30px;
    width: 15%;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.git{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.animation_scroll{
    opacity: 0;
    bottom: -40px;
    transition: all 1s ease-out;
    transition-delay: .1s;
}
.animation{
    opacity: 1;
    bottom:0px;
}
.first-1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
} 
.wavy{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-width: 1px transparent solid;
    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70%;
}  

    @keyframes waves{
        0%{
          border-radius:50%;
          
         

        }
        25%{
          border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
          
         
        }
        50%{
        border-radius:64% 36% 46% 54% / 47% 65% 35% 53% ;
       
       
        }
        75%{
        border-radius:42% 58% 89% 11% / 56% 61% 39% 44% ;
        
        
        }
        100%{
        border-radius:30% 70% 54% 46% / 64% 34% 66% 36% ;
        
        
        }
      }
    

.h1{
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 70px;
    letter-spacing: 1.5px;
    z-index: 0;
    
}
.p{
    font-family: 'Raleway', sansf-seri;
    font-size: 20px;
    
} 

.animation_on_scroll{
    opacity: 0;
    bottom: -80px;
    transition: all 1s ease-out;
    transition-delay: 0.2s;
}
.animate{
    opacity: 1;
    bottom: 0px;
}

.footer{
    height: 40vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footpad{
    height: 95%;
    width: 85%;
    
}
.anchors{
    position: relative;
    height: 85%;
    width: 100%;
    border-bottom: 1px rgb(135, 126, 126) solid;
    display: flex;
    gap: 20px;
    
}
.anc-1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.anc-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.anc2-det{
    height: 60%;
    width: 100%;
    border-left: 1px rgb(86, 77, 77) solid;
}
.copyrights{
    position: relative;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.container > h1{
    align-self: center;
    padding: 20px 1px;
    font-weight: 200;
    font-family: 'Raleway', sansf-seri;
}
/* .name{
    background-image: url(./assets/earth.gif);
    color: transparent;
    background-size: contain;
    background-clip: text;
} */
.wrapper{
    padding: 20px 100px 100px 100px;
}

.skil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.cards{
    height: 180px;
    width: 180px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #9d9696;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 1px solid rgb(178, 235, 255);
}
.cards > p{
    color: #fff;
    font-family: 'Jost', sans-serif;
}

.cards:hover{
    background-color:rgba(59,130,246,.5) ;
    box-shadow: 5px 5px 10px rgba(59,130,246,.5) ;
}
.cards > img{
    height: 60px;
    width: 60px;
    border-radius: 7px;

}


.scroll{
    position: sticky;
    top: 80%;
    left: 95%;
    height: 40px;
    width: 40px;
    background-color: white;
    color: rgb(31, 30, 30);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .1s ease-in;
    box-shadow: 5px 5px 50px rgb(195, 191, 191);
    border: 1px solid rgb(136, 124, 124);
   z-index: 1000;
   cursor:grabbing;

   
}
.scroll:hover{
    background-color: rgb(31, 30, 30);
    color: white;
}
#imager{
    transition: transform .2s ease-in;
}
#imager:hover{
    filter: drop-shadow(2px 2px 13px rgb(126, 216, 255));
    transform: scale(1.2);
}
.sec-1{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}
/* work */
.work{
    display: flex;
    justify-content: center;
    align-items: center;
}
.workpad{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}
#h1{
    display: flex;
    justify-content: center;
}
#h1 > h1{
    font-weight: 500;
    font-family: 'Raleway', sansf-seri;
}
#p{
    display: flex;
    justify-content: center;
}
.ppad{
    width: 60%;
}
.ppad > p{
    font: 300;
    font-size: 1.3rem;
    color: rgb(144, 134, 134);
}
.workcard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 0 30px 0;
}
.wrcrd1{
    height: 500px;
    width: 400px ;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 6px;
}
.wrkcrdpad > img{
   height: 30%;
   width: 100%;
   border-radius: 20px;
}
.wrkcrdpad{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.wrkcrdpad > p{
    color: rgb(144, 134, 134);
}
.wrkcrdpad > h4{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'poppins', sans-serif;
}
.techstk{
 display: flex;
 gap: 15px;
}
.techstk > p{
    display: block;
    font-weight: 400;
    padding: 5px 15px 5px 15px;
    border-radius: 4px ;
    background-color: #dad8d8;
}
.wrbut{
    display: flex;
    justify-content: space-between;
}
.wrbut > a{
    text-decoration: none;
}
.wrbut >a:nth-child(1) > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Jost', sans-serif;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.wrbut > a:nth-child(2) > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Jost', sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(212, 202, 202);
}
.res{
   padding: 10px 40px 10px 40px;
   border-radius: 6px;
   border: none;
   outline: none;
   cursor: pointer;
}
@media (max-width:899px){
    .container >h1{
        font-size: 1.8rem;
        padding: 5px;
    }
    .prowrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .cards > img{
        height: 40px;
        width: 40px;
        border-radius: 7px;
    
    }
    .cards > p{
        font-weight: 200;
        font-size: .5rem;
    }
    .wrapper{
        padding: 20px 50px 50px 50px;
    }
    .skil{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .cards{
        height: 100px;
        width: 100px;
        border-radius: 25px;
        gap: 10px;
    }
    
    label{
        padding: 2px 15px;
        font-weight: 800;
        font-family: 'Jost', sans-serif;
        font-size: 1.5rem;
        color:  rgba(21, 110, 255, 0.8);
    }
    ul{
        display: flex;
        gap: 10px;
    
    }
    li{
        list-style: none;
        padding: 5px 10px;
        font-family: 'Jost', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease;
        
    }
    #arrow{
        border-left: 1px solid rgb(23, 22, 22,0.4);
       
        
    }
    .toppad{
        position: sticky;
        top: 4px;
        height: 130px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .top-1{
        padding: 10px;
        height: 60%;
        width: 95%;
        backdrop-filter: blur(20px) ;
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(106, 108, 110, 0.3);
        
    }
    .container2{
        height: 250vh;
        width: 100%;
        
    }
    .navbar{
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        
        }
    .empty{
            flex: 2;
        }
    .logo{
        flex: 1;
    }
    .profile{
        height: 30px;
        width: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        flex:1;
    }
    .social{
        height: 30px;
        width: 80px;
        display: flex;
        flex-direction: row;
        gap: 5px;
    
    }
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    
    .animation_scroll{
        opacity: 0;
        bottom: -40px;
        transition: all 1s ease-out;
        transition-delay: .1s;
    }
    .animation{
        opacity: 1;
        bottom:0px;
    }
    .first-1{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
        justify-content: center;
        align-items: center;
        background-color: white;
    }   
    .wavy{
        height: 250px;
        width: 250px;
    }
    .h1{
        position: relative;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 40px;
        letter-spacing: 1.5px;
        
    }
    .p{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        
    }   
    
    
    .animation_on_scroll{
        opacity: 0;
        bottom: -80px;
        transition: all 1s ease-out;
        transition-delay: 0.2s;
    }
    .animate{
        opacity: 1;
        bottom: 0px;
    }
    
    .footer{
        height: 30vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footpad{
        height: 95%;
        width: 93%;
        
    }
    .anchors{
        position: relative;
        height: 85%;
        width: 100%;
        border-bottom: 1px rgb(135, 126, 126) solid;
        
        
        
    }
    .anc-1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .anc-2{
        display: none;
        
    }
    .anc2-det{
        display: none;
        
    }
    .copyrights{
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scroll{
        position: sticky;
        top: 80%;
        left: 90%;
        height: 40px;
        width: 40px;
        background-color: #f9f9f9;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: .1s ease-in;
        box-shadow: 5px 5px 50px rgb(195, 191, 191);
        border: 1px solid rgb(136, 124, 124);
        
    }
    .scroll:hover{
        background-color: white;
        color: black;
    }
    

}

@media (min-width:900px) and (max-width:1300px){
    .wrapper{
        padding: 20px 50px 50px 50px;
    }
    .skil{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .cards{
        height: 200px;
        width: 200px;
        border-radius: 25px;
        gap: 10px;
    }
    
}

