@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fasthand&family=Montserrat&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@1,200&family=Raleway:wght@200&family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-snap-type: none;
    user-select: none;
    scroll-behavior: smooth;
}
.portfolio{
    
}
.top-1{
    position: fixed;
    padding: 10px;
    height: 8vh;
    width: 100%;
    backdrop-filter: blur(20px) ;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 1;
    
}
.navbar{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    }
.empty{
        flex: 2;
    }
.logo{
    flex: 1;
}
.profile{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.social{
    height: 30px;
    width: 15%;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.git{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.animation_scroll{
    opacity: 0;
    bottom: -40px;
    transition: all 1s ease-out;
    transition-delay: .1s;
}
.animation{
    opacity: 1;
    bottom:0px;
}
.first-1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f9f9f9;
} 
.wavy{
    height: 200px;
    width: 200px;
    border-width: 1px transparent solid;
    animation: waves 5s infinite;
}  

    @keyframes waves{
        0%{
          border-radius:50%;
          
         

        }
        25%{
          border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
          
         
        }
        50%{
        border-radius:64% 36% 46% 54% / 47% 65% 35% 53% ;
       
       
        }
        75%{
        border-radius:42% 58% 89% 11% / 56% 61% 39% 44% ;
        
        
        }
        100%{
        border-radius:30% 70% 54% 46% / 64% 34% 66% 36% ;
        
        
        }
      }
    

.h1{
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 70px;
    letter-spacing: 1.5px;
    z-index: 0;
    
}
.p{
    font-family: 'Raleway', sansf-seri;
    font-size: 20px;
    
} 

.animation_on_scroll{
    opacity: 0;
    bottom: -80px;
    transition: all 1s ease-out;
    transition-delay: 0.2s;
}
.animate{
    opacity: 1;
    bottom: 0px;
}
.container2{
    height: 250vh;
    width: 100%;
    background-color: #f9f9f9;
    
}
.shower{
    height: 30vh;
    width: 100%;
    background-image: url(./assets/zoho.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.con{
    height: 80%;
    width: 80%;
}
#shower-h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.skillsets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    
}
.skillcards{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(-30px);
    
}
.crd{
    height: 400px;
    width: 300px;
    border: 1px white solid;
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(252, 248, 248);

}
.card :hover{
    transform: translateZ(45px);
}
.crd-padd{
    position: relative;
    height: 95%;
    width: 93%;
    border: 0.5px rgb(222, 216, 216) solid;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lister{
    position: relative;
    height: 90%;
    width: 60%;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
li:nth-child(1){
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 0.4px rgb(214, 208, 208) solid;
}
li:nth-child(2){
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    border-radius: 4px;
    
    border: 0.4px rgb(214, 208, 208) solid;
}
li:nth-child(3){
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    border-radius: 4px;
   
    border: 0.4px rgb(214, 208, 208) solid;
}
li:nth-child(4){
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    border-radius: 4px;
    
    border: 0.4px rgb(214, 208, 208) solid;
}
li:nth-child(5){
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    border-radius: 4px;
    border: 0.4px rgb(214, 208, 208) solid;
}
li:nth-child(6){
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 42, 42);
    border: 0.4px rgb(214, 208, 208) solid;
}
li:hover{
    background-color: aliceblue;
    
}
legend{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    letter-spacing: 1.5px;
}
.projects{
    height: 172.5vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "spo spo-1"
        "spo-3 spo-2"
        "you youde"
    ;
    background-color: #f9f9f9;
}
.spotify{
    grid-area: spo;
     display: flex;
    justify-content: center;
    align-items: center;
}
#gif{
    position: relative;
    height: 80%;
    width: 90%;
    box-shadow: 1px 2px 10px white;
    border-radius: 12px;
}
.spo-des{
    grid-area: spo-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube{
    grid-area: you;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youdes{
    grid-area: youde;
     display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.anchor{
     font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 1.5px;
}
.des-pa{
    font-size: 18px;
    letter-spacing: 1.5px;
}
.nextpro{
    grid-area: spo-2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextdes{
    grid-area: spo-3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 40vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footpad{
    height: 95%;
    width: 85%;
    
}
.anchors{
    position: relative;
    height: 85%;
    width: 100%;
    border-bottom: 1px rgb(135, 126, 126) solid;
    display: flex;
    gap: 20px;
    
}
.anc-1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.anc-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.anc2-det{
    height: 60%;
    width: 100%;
    border-left: 1px rgb(86, 77, 77) solid;
}
.copyrights{
    position: relative;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.loader{
    height: 30%;
    width: 30%;
    display: flex;
    gap: 10px;
}
.load-el{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg,rgb(253, 253, 253),rgb(240, 254, 255));
    animation: blink 1s linear infinite;
}
.load-el:nth-child(1){
    animation-delay: 1s;
}
.load-el:nth-child(2){
    animation-delay: .7s;
}
.load-el:nth-child(3){
    animation-delay: .5s;
}
.load-el:nth-child(4){
    animation-delay: .3s;
}
@keyframes blink{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0); 
    }
    100%{
        transform: scale(1); 
    }
} */

.scroll{
    position: sticky;
    top: 80%;
    left: 95%;
    height: 40px;
    width: 40px;
    background-color: white;
    color: rgb(31, 30, 30);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .1s ease-in;
    box-shadow: 5px 5px 50px rgb(195, 191, 191);
    border: 1px solid rgb(136, 124, 124);
   z-index: 1000;
   cursor:grabbing;
   
}
.scroll:hover{
    background-color: rgb(31, 30, 30);
    color: white;
}
@media(min-width:377px) and (max-width:600px){
    .top-1{
        position: fixed;
        height: 6vh;
        width: 100%;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        z-index: 1;
        
    }
    .container2{
        height: 250vh;
        width: 100%;
        
    }
    .navbar{
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        
        }
    .empty{
            flex: 2;
        }
    .logo{
        flex: 1;
    }
    .profile{
        height: 30px;
        width: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        flex:1;
    }
    .social{
        height: 30px;
        width: 80px;
        display: flex;
        flex-direction: row;
        gap: 5px;
    
    }
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    
    .animation_scroll{
        opacity: 0;
        bottom: -40px;
        transition: all 1s ease-out;
        transition-delay: .1s;
    }
    .animation{
        opacity: 1;
        bottom:0px;
    }
    .first-1{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
        justify-content: center;
        align-items: center;
        background-color: white;
    }   
    .wavy{
        height: 250px;
        width: 250px;
    }
    .h1{
        position: relative;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 40px;
        letter-spacing: 1.5px;
        
    }
    .p{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        
    }   
    
    
    .animation_on_scroll{
        opacity: 0;
        bottom: -80px;
        transition: all 1s ease-out;
        transition-delay: 0.2s;
    }
    .animate{
        opacity: 1;
        bottom: 0px;
    }
    .shower{
        height: 30vh;
        width: 100%;
        background-image: url(./assets/zoho.webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con{
        height: 80%;
        width: 80%;
    }
    #shower-h1{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: rgb(0, 0, 0);
    }
    .projects{
        height: 130vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr .7fr 1fr .7fr 1fr .7fr;
        grid-template-areas: 
            "spo"
            "spo-1"
            "spo-2"
            "spo-3"
            "you"
            'youde'
        ;
        overflow-y: scroll;
    }
    .youtube{
        grid-area: you;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .youdes{
        grid-area: youde;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .spotify{
        grid-area: spo;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #gif{
        position: relative;
        height: 80%;
        width: 90%;
        box-shadow: 1px 2px 10px white;
    }
    .spo-des{
        grid-area: spo-1;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description{
        height: 85%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 7px;
        
    }
    .anchor{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .des-pa{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .nextpro{
        grid-area: spo-2;
       
    }
    .nextdes{
        grid-area: spo-3;
     
    }
    .skillsets{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .skillcards{
        height: 700px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateY(-30px);
        
    }
    .crd{
        height: 50%;
        width: 100%;
        border: 1px white solid;
        border-radius: 10px;
        background-color: rgb(255, 254, 254);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgb(252, 248, 248);
    
    }
    .lister{
        position: relative;
        height: 90%;
        width: 80%;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }
    li:nth-child(1){
        padding: 7px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(2){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(3){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
       
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(4){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(5){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(6){
        padding: 7px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:hover{
        background-color: aliceblue;
        
    }
    legend{
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        margin-left: 10px;
        letter-spacing: 1px;
    }
    .crd-padd{
        position: relative;
        height: 90%;
        width: 80%;
        
    }
    .footer{
        height: 30vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footpad{
        height: 95%;
        width: 93%;
        
    }
    .anchors{
        position: relative;
        height: 85%;
        width: 100%;
        border-bottom: 1px rgb(135, 126, 126) solid;
        
        
        
    }
    .anc-1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .anc-2{
        display: none;
        
    }
    .anc2-det{
        display: none;
        
    }
    .copyrights{
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scroll{
        position: sticky;
        top: 80%;
        left: 90%;
        height: 40px;
        width: 40px;
        background-color: #f9f9f9;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: .1s ease-in;
        box-shadow: 5px 5px 50px rgb(195, 191, 191);
        border: 1px solid rgb(136, 124, 124);
        
    }
    .scroll:hover{
        background-color: white;
        color: black;
    }

}
@media  (min-width:100px) and (max-width:376px){
    .top-1{
        position: fixed;
        height: 6vh;
        width: 100%;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        z-index: 1;
        
    }
    .container2{
        height: 250vh;
        width: 100%;
        
    }
    .navbar{
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        
        }
    .empty{
            flex: 2;
        }
    .logo{
        flex: 1;
    }
    .profile{
        height: 30px;
        width: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        flex:1;
    }
    .social{
        height: 30px;
        width: 80px;
        display: flex;
        flex-direction: row;
        gap: 5px;
    
    }
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    
    .animation_scroll{
        opacity: 0;
        bottom: -40px;
        transition: all 1s ease-out;
        transition-delay: .1s;
    }
    .animation{
        opacity: 1;
        bottom:0px;
    }
    .first-1{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
    }   
    .wavy{
        height: 250px;
        width: 250px;
    }
    .h1{
        position: relative;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 40px;
        letter-spacing: 1.5px;
        
    }
    .p{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        
    }   
    
    
    .animation_on_scroll{
        opacity: 0;
        bottom: -80px;
        transition: all 1s ease-out;
        transition-delay: 0.2s;
    }
    .animate{
        opacity: 1;
        bottom: 0px;
    }
    .shower{
        height: 25vh;
        width: 100%;
        background-image: url(./assets/zoho.webp);
    background-repeat: no-repeat;
    background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con{
        height: 80%;
        width: 80%;
    }
    #shower-h1{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: rgb(64, 67, 67);
    }
    .projects{
        height: 125vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr .5fr 1fr .5fr 1fr .5fr;
        grid-template-areas: 
            "spo"
            "spo-1"
            "spo-2"
            "spo-3"
            "you"
            'youde'
        ;
        overflow-y: scroll;
    }
    .youtube{
        grid-area: you;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .youdes{
        grid-area: youde;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .spotify{
        grid-area: spo;
      
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #gif{
        position: relative;
        height: 80%;
        width: 90%;
        box-shadow: 1px 2px 10px white;
    }
    .spo-des{
        grid-area: spo-1;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description{
        height: 85%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 7px;
        
    }
    .anchor{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .des-pa{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .nextpro{
        grid-area: spo-2;
       
    }
    .nextdes{
        grid-area: spo-3;
      
    }
    .skillsets{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .skillcards{
        height:60vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateY(-30px);
    }
    .crd{
        height: 50%;
        width: 80%;
        border: 1px white solid;
        border-radius: 10px;
        background-color: rgb(255, 254, 254);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgb(252, 248, 248);
    
    }
    .lister{
        position: relative;
        height: 90%;
        width: 80%;
        overflow-y: scroll;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }
    li:nth-child(1){
        
        padding: 7px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(2){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(3){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
       
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(4){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(5){
        padding: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border-radius: 4px;
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:nth-child(6){
        padding: 7px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        color: rgb(46, 42, 42);
        border: 0.4px rgb(214, 208, 208) solid;
    }
    li:hover{
        background-color: aliceblue;
        
    }
    legend{
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        margin-left: 10px;
        letter-spacing: 1px;
    }
    .crd-padd{
        position: relative;
        height: 90%;
        width: 80%;
        
    }
    .footer{
        height: 40vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footpad{
        height: 95%;
        width: 92%;
        
    }
    .anchors{
        position: relative;
        height: 85%;
        width: 100%;
        border-bottom: 1px rgb(135, 126, 126) solid;
        
        
        
    }
    .anc-1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .anc-2{
        display: none;
        
    }
    .anc2-det{
        display: none;
        height: 60%;
        width: 100%;
        border-left: 1px rgb(86, 77, 77) solid;
    }
    .copyrights{
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scroll{
        position: sticky;
        top: 40%;
        left: 95%;
        height: 40px;
        width: 40px;
        background-color: white;
        color: rgb(93, 88, 88);
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: .1s ease-in;
        box-shadow: 5px 5px 50px rgb(195, 191, 191);
        border: 1px solid rgb(136, 124, 124);
        
       
    }
    .scroll:hover{
        background-color: #c5bbbb;
        color: #000;
    }

}

